.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
    border: 1px solid black;
}

.Blog li:hover,
.Blog li:active {
    background-color: rgb(199, 195, 195);
}

.Blog a {
    text-decoration: none;
    color: black;
}